* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 500px;
  width: 600px;
  background: linear-gradient( 90deg, rgba(255, 0, 147, 1) 0%, rgba(187, 2, 174, 1) 100%);
  padding: 25px;

  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.container div {
  background-color: gold;
  font-family: sans-serif;
  font-size: 60px;
  font-weight: 900;
  border-radius: 2px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container div:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.container div:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.container div:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.container div:nth-child(4) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.container div:nth-child(5) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.container div:nth-child(6) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.container div:nth-child(7) {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.container div:nth-child(8) {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.container div:nth-child(9) {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.container div:nth-child(10) {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}

.container div:nth-child(11) {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.container div:nth-child(12) {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.container div:nth-child(13) {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

.container div:nth-child(14) {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
}
